.accounts-link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #5193ac;
}

.section-detail {
    height: 228px;
    background-color: white;
    border-top: 1px solid #edf0f0;
    border-bottom: 1px solid #edf0f0;
  
    .current-section {
        margin: 2rem;
        color: #8b9399;
  
        .section-title {
            font-size: 2rem;
            font-weight: 300;
        }
  
        .section-route {
            font-size: 1rem;
            font-weight: 400;
        }

        .section-balance {
            font-size: 3rem;
            font-weight: 400;
            margin: 1.5rem 0;
        }
    }
}

.lower-balance {
    color: #cd4b59;
    font-weight: 500;
}

.higher-balance {
    color: #00b38f;
    font-weight: 500;
}