@import 'variables';

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.lower-balance {
    color: red;
    font-weight: 500;
}

.higher-balance {
    color: $primary-green;
    font-weight: 500;
}