@import 'variables';

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.lower-balance {
    color: $primary-red;
    font-weight: 500;
}

.higher-balance {
    color: $primary-green;
    font-weight: 500;
}

.row-navigation:hover {
    cursor: pointer;
    background-color: $light-grey;
}