table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.lower-balance {
    color: #cd4b59;
    font-weight: 500;
}

.higher-balance {
    color: #00b38f;
    font-weight: 500;
}

.row-navigation:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}