@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~bootstrap/scss/utilities/_spacing.scss";
@import "~bootstrap/scss/utilities/_sizing.scss";

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
  background-color: #f5f5f5;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.section-toolbar {
  height: 128px;
  background-color: white;
  border-top: 1px solid #edf0f0;
  border-bottom: 1px solid #edf0f0;

  .current-section {
    margin: 2rem;
    color: #8b9399;

    .section-title {
      font-size: 2rem;
      font-weight: 300;
    }

    .section-route {
      font-size: 1rem;
      font-weight: 400;
    }
  }
}